<!---- Start of Word documents section -----<div style="background-color:#22A7F0">--------->
<div ng-style="{'background-color': blog.background}">
<div class="jumbotron" ng-style="{'background-color': blog.background}" >
  <div class="container text-center">
    
    <h1>Masters of Karate <br> News </h1>      
    <!--
    <p>Where Determination is Discovered</p>
    -->
  </div>
</div>



<div class="jumbotron text-center" ng-style="{'background-color': sept2016.color}" >
  <h2>{{ sept2016.header}}</h2> 

<div layout="row" layout-padding="" layout-wrap="" layout-fill="" style="padding-bottom: 32px;" 
ng-cloak="" class="whiteframedemoBasicClassUsage" ng-repeat="item in sept2016.news">
  <!--  <span flex="10"></span>
 <md-whiteframe class="md-whiteframe-5dp" flex="80"  layout="" layout-align="center center" ng-style="{'background-color': sept2016.color}">
     -->
     <md-content flex="" layout-padding="">
      <h3>{{ item.title }}</h3>
      <p> {{ item.desc }}</p>
      
  </md-content>
  
 <!-- </md-whiteframe>
  <span flex="10"></span> -->
</div>
</div>

<!--


<div class="jumbotron text-center" ng-style="{'background-color': january2016.color}" >
  <h2>{{ january2016.header}}</h2> 

<div layout="row" layout-padding="" layout-wrap="" layout-fill="" style="padding-bottom: 32px;" ng-cloak="" class="whiteframedemoBasicClassUsage"
ng-repeat="item in january2016.news">
  <span flex="10"></span>
  <md-whiteframe class="md-whiteframe-5dp" flex="80"  layout="" layout-align="center center" ng-style="{'background-color': january2016.color}">
     <md-content flex="" layout-padding="">
      <h3>{{ item.title }}</h3>
      <p> {{ item.desc }}</p>
  </md-content>
  </md-whiteframe>
  <span flex="10"></span>
</div>
</div>

-->

</div>