
<div class="jumbotron" style="background-color:#1E8BC3">
  <div class="container text-center">
			<img style="width:40%; margin-bottom: -80px;" src="../img/logo_min_remove_background_crop.png" alt="Description" />
  </div>
</div>



       <div ng-if="$root.karateUser.student == true">
          <div class="md-list-item-text" layout="column" layout-align="center center"  ng-repeat="rank in notebook"> 
            <md-divider ></md-divider>
            <h3>{{ rank.rank }}: {{ rank.belt }}</h3>
            <h4> Combinations: {{ rank.combo }}</h4>
            <p ng-if="rank.forms !='' ">Forms: {{ rank.forms }}</p>
            <br>
          </div>

        </div>

        <!--
 <md-content class="full-heigth">
      <md-list flex ng-if="$root.karateUser.student == true">
        <md-list-item class="md-3-line"  ng-click="null">

        </md-list-item>
      </md-list>
 </md-content>
 -->

<br><br><br>


