<!---- Start of Word documents section -------------->
<div style="background-color:">
<div class="jumbotron" style="background-color:#1E8BC3">
  <div class="container text-center">
    <h1>Schedule</h1>      
    <p>Westford/Newton/Leominster</p>
  </div>
</div>


<!--- md-list format 
							  <md-list-item class="md-2-line" ng-repeat="class in fClasses">
									<div class="md-list-item-text">
										<h3>{{class.time}}</h3>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
								</md-list-item>
-->

<div ng-cloak="" class="tabsdemoDynamicHeight">
  <md-content>
		<md-tabs  md-dynamic-height md-border-bottom>
      <md-tab label="West.">
					<md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex" md-autoselect >
						<md-tab label="Su">
									<div class="list-group  text-center"  ng-repeat="class in w_suClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="M">
									<div class="list-group  text-center"  ng-repeat="class in w_mClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="Tu">
									<div class="list-group  text-center"  ng-repeat="class in w_tuClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="W">
									<div class="list-group  text-center"  ng-repeat="class in w_wClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="Th">
									<div class="list-group  text-center"  ng-repeat="class in w_thClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="F">
									<div class="list-group  text-center"  ng-repeat="class in w_fClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="Sa">
									<div class="list-group  text-center"  ng-repeat="class in w_sClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
					</md-tabs>
      </md-tab>
      <md-tab label="Newt.">
		  <md-tabs md-selected="selectedIndex" md-autoselect >
						<md-tab label="Su">
									<div class="list-group  text-center"  ng-repeat="class in n_suClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="M">
									<div class="list-group  text-center"  ng-repeat="class in n_mClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="Tu">
									<div class="list-group  text-center"  ng-repeat="class in n_tuClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="W">
									<div class="list-group  text-center"  ng-repeat="class in n_wClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="Th">
									<div class="list-group  text-center"  ng-repeat="class in n_thClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="F">
									<div class="list-group  text-center"  ng-repeat="class in n_fClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="S">
									<div class="list-group  text-center"  ng-repeat="class in n_sClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
			</md-tabs>
      </md-tab>
		<md-tab label="Leom.">
					<md-tabs md-dynamic-height="" md-border-bottom="" md-selected="L_selectedIndex" md-autoselect >
						<md-tab label="M">
									<div class="list-group  text-center"  ng-repeat="class in L_mClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
						<md-tab label="Sa">
									<div class="list-group  text-center"  ng-repeat="class in L_sClasses">
										<h4>{{class.time}}</h4>
										<h4>{{class.group}}</h4>
										<p>{{class.desc}}</p>
									</div>
						</md-tab>
					</md-tabs>
      </md-tab>
	  <md-tab label="Events"> 
			<div class="list-group  text-center"  ng-repeat="class in events">
				<h4>{{class.time}}</h4>
				<h4>{{class.group}}</h4>
				<p>{{class.desc}}</p>
			</div>
	 </md-tab>
    </md-tabs>
  </md-content>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->



</div>
<!---- End of Power Point presentation section -------------->