



<md-content flex md-theme="docs-dark" layout-padding layout="column" 
              align="center center"  layout-align="center center">

        <md-input-container>
          <label  layout="column" layout-align="center center"
                 class="md-display-1">
            User</label>
            <div layout="row">
              <div class="md-headline">
                <input ng-model="user.name" type="password"> 
             </div>
            </div>
            

        </md-input-container>
                <md-input-container>
          <label  layout="column" layout-align="center center"
                 class="md-display-1">
            Passcode</label>
            <div layout="row">
              <div class="md-headline">
                <input ng-model="user.passw" type="password"> 
             </div>
            </div>
            

        </md-input-container>

            <div layout="row">
              <div flex="33"> </div>
                <md-button class="loginButton" ng-click="login()"> Login </md-button>
              <div flex="33"> </div>
            </div>

</md-content>


  